<div class="reply" id="comment-<%= comment.id %>">
  <%= comment.body %>
  <small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small>


  <%= link_to "Reply", [comment, Comment.new] %>
  <%= render(partial: 'comments/comment', collection: comment.comments) %>

</div>
