<h2>Join a conversation or start a <%= link_to "new one", new_conversation_path %>:</h2><br>
<div class="conversations">
  <div class="pagination">
    <%= paginate @conversations %>
  </div>
  <% @conversations.each do |convo| %>
    <div class="convo" id="convo-id-<%= convo.id %>">
      <h3><%= link_to convo.topic, convo %></h3>
      <div id="comment-id-<%= convo.comments.first.id %>">
        <%= simple_format(truncate(convo.comments.first.body, length: 200, separator: ' ')) {link_to "(Read more)", [convo, convo.comments.first], class: 'js-readMore'} %>
      </div>
      <small>Started <%="#{time_ago_in_words(convo.created_at)} ago" %> by
        <% if convo.user %>
        <%= link_to convo.user.username, convo.user %>
        <% else %>
        Deleted User
        <% end %>
      </small>
    </div>
  <% end %>
  <div class="pagination">
    <%= paginate @conversations %>
  </div>
</div>
