<h1><%= @conversation.topic %></h1>
<small>Started <%= time_ago_in_words(@conversation.created_at) %> ago by <%= link_to @conversation.user.username, @conversation.user %></small><br>
<h3>Comments</h3>
<div class="reply" id="reply-to-<%= @conversation.id %>">
  <%= render(partial: 'comments/comment', collection: @conversation.comments) %>
</div>
<div class="reply-form" id="comment-<%= @conversation.id %>">
  <%= link_to "Reply", new_conversation_comment_path(@conversation), class: 'js-form', :data => {id: @conversation.id} if current_user %>
</div>

<script id="reply-template" type="text/x-handlebars-template">
  <div class="reply" id="reply-to-<%= @conversation.id %>">

    <div class="image">
      <img src="{{user.image}}" width="35" height="35">
    </div>
    <div class="body" id="body-{{id}}">
      <p>{{body}}</p><br>
    </div>

    <small>Submitted <time class="timeago" datetime="{{created_at}}">{{created_at}}</time> by <a href="/users/{{user.id}}">{{user.username}}</a></small><br>
    <div class="reply-form" id="comment-{{id}}">
      <% if current_user %>
        <a class="js-form" data-id="{{id}}" href="/comments/{{id}}/comments/new">Reply</a>
      <% end %>
      {{#if <%= current_user && current_user.admin ? "true" : "untrue" %>}}
        <a class="js-form" data-id="{{id}}" href="/comments/<%= @conversation.id %>/comments/{{id}}/edit">Edit</a>
        <a rel="nofollow" data-method="delete" href="/comments/{{id}}">Delete</a>
      {{else}}
        {{#if_eq user.id <%= current_user ? current_user.id : "false" %>}}
          <a class="js-form" data-id="{{id}}" href="/comments/<%= @conversation.id %>/comments/{{id}}/edit">Edit</a>
          <a rel="nofollow" data-method="delete" href="/comments/{{id}}">Delete</a>
        {{/if_eq}}
      {{/if}}
    </div>

    <div class="js-reply" id="reply-to-{{id}}" data-id="{{id}}">
      {{#if comments.length}}
        <a href="/comments/{{id}}/comments">Show {{comments.length}} comment/s</a>
      {{/if}}
    </div>

  </div>
</script>
