<h1><%= @user.username %>'s profile:</h1>
<%= image_tag @user.image_url, class: "profile_pic" %>
<div class="profile_info">
  <p>
    <strong>Username:</strong> <%= @user.username %><br><br>
    <strong>Email:</strong> <%= @user.email %><br><br>
    <strong>Age:</strong> <%= @user.age ? @user.age : "N/A" %><br><br>
    <strong>Location:</strong> <%= @user.location ? @user.location : "N/A" %><br><br>
  </p>
</div>
<div class="profile_buttons">
  <% if current_user.admin || @user == current_user %>
    <%= button_to "Edit User", edit_user_path(@user), method: "get" %>
  <% end %>
  <% if current_user && current_user.admin && current_user != @user %>
    <%= button_to ban_button, user_ban_path(@user), method: "patch" %>
    <%= button_to admin_button, user_admin_path(@user), method: "patch" %>
  <% end %>
</div>
