<!DOCTYPE html>
<html>
  <head>
    <title>Freddit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--
      ((//*/((((##%%###%%%%%%%%%%%%%%%%&&%%%%%%%%%%%%%#######%##((((((////
      %###########%%#%%%%%%%%%######%&%%%#%#/%%%%%%%%%%#####%%%#####((((((
      &&&&&&&&&%##%%%##%&&&%&%%%&%&&&&&%%%%##(//%%%%%%%######%%%##########
      (###%%#%###%###%%&%%&%%&&&%%%%&&%#%%%%##/(%%%%%%%#######%%%#########
      (*/((//(((((#####%&%@&&&&&%%%%%%%%%%%%%#(#%(//#%%%%%%#%%%%%%%%######
      ***////(######(((%&%&&&%##((#(/(%##((%(/,.,/(//(%%%%%%%%%%%%%%%###%%
      ***//*/#%%%%%%%##@&&&&&%#(##/(#(((***/#*,,../(//%%%%%%%%%%%%%%%%#%%%
      ,,*(///(##%%#(#%&&%%&&&%((///******,,,*,,...  .((%%%%%%%%%%%%%%%%%%%
      /*////***(#%%%%%%%&&&&%(////////*******,,,,,.. //#%&%%%%%%%%%%%%%%%%
      **//*****(#%%%%%&&&&&//////////********,,,,...%(%&&&%&%%%&%%%%%&&&&&
      *******/((#%%%&&&&&&&%((///////*********,,,....,#(%&&&&&%%%%%%%%%&%&
      ***/***/((##%&&&&&&&%#(///////////**********...,##%&&&&&&&&&&&&&&&%%
      **//***/((###%(%&&&@///######%%%%#(///(#%%%#*,#(%&&&&&&&&&&&&&&&%%%%
      /*///*//(((##%(##%&&#((((##%&%%%%#(*,(%####/,/((%&&&&&&&&&&&&&&&&%%%
      /*//////((##%%(/%%%&%((//(((#######%#*,/(#((/#,((#%&&&&&&&&&&&&&&&&&
      /////*/(((##%%#(#%%%%#(/////****//((//,..,**,..((#%&&&&&&&&&&&&&&&&&
      (((////(###%%%#((#%%%#(//////**/((///**,./,,. ./(#%&&&&&&&&&&&&%%%&%
      (((////###%%%%%%##%%%%#((((///(#####(///*/(/,..*(((%&&&&&%%####%%#%%
      (/(//*/(##%%%#%%%%%%&&%%####(####%%%%&%##(#(/*,/(((#####(((//**/#%%%
      ,**/***/(((#%%%%%%%&&&%%%%%#%%%%%&%%%%%%%#/((//((#%#((////(#%%%%%%%%
      ,*//***(###%%%%%%%%%&&%%%%%%%%##%##((/((%%#((((((##%&%%%%#((#%%##%%%
      ,*//**/(#%%&&%%%%%%&&&&&&&&&&%#((((###(((%%#(#(((((#%%%%%%%%%%%%###%
      *///**/(#%%%%%%%*#%&&&&&&&&&&%%((///(///(%%&%##(###%%&&&&&&&&&&&&&%%
      ,*//*/(%%%%%%%%*,/#%&&&&&&&&&&&%%#####(#####%%#####&&&&&&&%%%%%%%%%%
      */((/((#%%%%%%,.,,(%%&&&&&&&&&&&&&%%%%%#%%%######%%%##%%%%##########
      (##((((%%%###...,,**#%&&&&&&&&&&&&&&&&%%%%%##(###%%#((%%%%%%&&%%%%%%
      ##%(//(###(,...,,,,*/#%%&&&&&&&&&&&&&&&%%###(#(%%%(*,*(%&&&&&&&&&&&&
      ##%((//*........,,,,,*/#&&&&&&&&%&&&&&%%#%##(/#%%%(,,*#%&&&&&&&&&&&&
      ###(,.............,,,,,*/%%%&%%&%%%%%%%%%#(#(/(%&&(,,*#%%&&&&&&&&&&&
      *...................,,,,,/#%%%%%#%%%##%##(**(/##%%(**/##%%%%%%%%%%&%
      ....................,,//*(######((/(#(//*/,.,###%%%######///######%%
      ..........,........*******,*((//////*,****,    .*%%#((((############
      .................,*,,,,,,,,**,......,,...,,*,..    . ,#(((########%%
      To get in touch:
      Website: yechiel.me
      Blog: blog.yechiel.me
      Email: chilikkal@gmail.com
      Twitter: @yechielk
      GitHub: achasveachas
      LinkdIn: https://www.linkedin.com/in/yechiel-k
    -->
  </head>

  <body>
    <div class="wrapper">
      <a href="/">Home</a>
      <a href="/conversations">Conversations</a>
      <a href="/users">Users</a>
      <a href="/conversations/new">New Conversation</a><br>
      <header class="branding">
        <h1>freddit</h1>
        <strong>
          Welcome, <%= "current_user.username" %>!<br>
          <a href="/users/<%= "current_user.slug" %>">My Profile.</a>
          <a href="/logout">Sign Out</a><br>

          Welcome!
          <a href="/signup">Sign up</a>
          <a href="/login">Log In</a><br>
        </strong>
      </header>
      <div class="error">
        <% if flash[:message] %>
          <%= flash[:message] %><br>
        <% end %>
      </div>

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2016 <strong><a href="http://yechiel.me" target="_blank">Yechiel K.</a></strong></small>
      </footer>
    </div>
  </body>
</html>
