<!DOCTYPE html>
<html>
  <head>
    <title>Freddit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--
      ((//*/((((##%%###%%%%%%%%%%%%%%%%&&%%%%%%%%%%%%%#######%##((((((////
      %###########%%#%%%%%%%%%######%&%%%#%#/%%%%%%%%%%#####%%%#####((((((
      &&&&&&&&&%##%%%##%&&&%&%%%&%&&&&&%%%%##(//%%%%%%%######%%%##########
      (###%%#%###%###%%&%%&%%&&&%%%%&&%#%%%%##/(%%%%%%%#######%%%#########
      (*/((//(((((#####%&%@&&&&&%%%%%%%%%%%%%#(#%(//#%%%%%%#%%%%%%%%######
      ***////(######(((%&%&&&%##((#(/(%##((%(/,.,/(//(%%%%%%%%%%%%%%%###%%
      ***//*/#%%%%%%%##@&&&&&%#(##/(#(((***/#*,,../(//%%%%%%%%%%%%%%%%#%%%
      ,,*(///(##%%#(#%&&%%&&&%((///******,,,*,,...  .((%%%%%%%%%%%%%%%%%%%
      /*////***(#%%%%%%%&&&&%(////////*******,,,,,.. //#%&%%%%%%%%%%%%%%%%
      **//*****(#%%%%%&&&&&//////////********,,,,...%(%&&&%&%%%&%%%%%&&&&&
      *******/((#%%%&&&&&&&%((///////*********,,,....,#(%&&&&&%%%%%%%%%&%&
      ***/***/((##%&&&&&&&%#(///////////**********...,##%&&&&&&&&&&&&&&&%%
      **//***/((###%(%&&&@///######%%%%#(///(#%%%#*,#(%&&&&&&&&&&&&&&&%%%%
      /*///*//(((##%(##%&&#((((##%&%%%%#(*,(%####/,/((%&&&&&&&&&&&&&&&&%%%
      /*//////((##%%(/%%%&%((//(((#######%#*,/(#((/#,((#%&&&&&&&&&&&&&&&&&
      /////*/(((##%%#(#%%%%#(/////****//((//,..,**,..((#%&&&&&&&&&&&&&&&&&
      (((////(###%%%#((#%%%#(//////**/((///**,./,,. ./(#%&&&&&&&&&&&&%%%&%
      (((////###%%%%%%##%%%%#((((///(#####(///*/(/,..*(((%&&&&&%%####%%#%%
      (/(//*/(##%%%#%%%%%%&&%%####(####%%%%&%##(#(/*,/(((#####(((//**/#%%%
      ,**/***/(((#%%%%%%%&&&%%%%%#%%%%%&%%%%%%%#/((//((#%#((////(#%%%%%%%%
      ,*//***(###%%%%%%%%%&&%%%%%%%%##%##((/((%%#((((((##%&%%%%#((#%%##%%%
      ,*//**/(#%%&&%%%%%%&&&&&&&&&&%#((((###(((%%#(#(((((#%%%%%%%%%%%%###%
      *///**/(#%%%%%%%*#%&&&&&&&&&&%%((///(///(%%&%##(###%%&&&&&&&&&&&&&%%
      ,*//*/(%%%%%%%%*,/#%&&&&&&&&&&&%%#####(#####%%#####&&&&&&&%%%%%%%%%%
      */((/((#%%%%%%,.,,(%%&&&&&&&&&&&&&%%%%%#%%%######%%%##%%%%##########
      (##((((%%%###...,,**#%&&&&&&&&&&&&&&&&%%%%%##(###%%#((%%%%%%&&%%%%%%
      ##%(//(###(,...,,,,*/#%%&&&&&&&&&&&&&&&%%###(#(%%%(*,*(%&&&&&&&&&&&&
      ##%((//*........,,,,,*/#&&&&&&&&%&&&&&%%#%##(/#%%%(,,*#%&&&&&&&&&&&&
      ###(,.............,,,,,*/%%%&%%&%%%%%%%%%#(#(/(%&&(,,*#%%&&&&&&&&&&&
      *...................,,,,,/#%%%%%#%%%##%##(**(/##%%(**/##%%%%%%%%%%&%
      ....................,,//*(######((/(#(//*/,.,###%%%######///######%%
      ..........,........*******,*((//////*,****,    .*%%#((((############
      .................,*,,,,,,,,**,......,,...,,*,..    . ,#(((########%%
      To get in touch:
      Website: yechiel.me
      Blog: blog.yechiel.me
      Email: chilikkal@gmail.com
      Twitter: @yechielk
      GitHub: achasveachas
      LinkdIn: https://www.linkedin.com/in/yechiel-k
    -->
  </head>

  <body>
    <div class="wrapper">
      <%= link_to "Conversations", root_path %>
      <%= link_to "Users", users_path %>
      <%= link_to "New Conversation", new_conversation_path %>
      <header class="branding">
        <h1>freddit</h1>
        <h3>Welcome<%= " #{current_user.username}" if current_user %>!</h3>
        <h4><%= link_to "Sign up", new_user_path if !current_user %>

        <%= link_to "Sign in", signin_path if !current_user %>

        <%= link_to "Log Out", logout_path if current_user %></h4>

      </header>
      <div class="container" role="main">
        <%= content_tag(:div, flash[:notice], :class => "notice", :id => "flash_notice") if flash[:notice] %>
        <%= content_tag(:div, flash[:error], :class => "error", :id => "flash_error") if flash[:error] %>
        <%= yield %>
      </div>

      <footer class="branding">
        <small>&copy; 2016 <strong><a href="http://yechiel.me" target="_blank">Yechiel K.</a></strong></small>
      </footer>
    </div>
  </body>
</html>
